.news {

  h2 {
    margin-bottom: 30px;
    font-weight: 400;
  }


  div:first-child {
    background: linear-gradient(to left, #071113bd, #132532f5);
  }

  &__description {
    margin-top: 20px;

    a {
      margin-top: 15px;
      display: flex;
      align-items: center;
      color: #7F8082;
      font-size: 13px;

      &:hover {
        color: white;
      }

      svg {
        font-size: 15px;

        path {
          &:hover {
            color: white;
          }

        }

      }
    }
  }


}