@import "./_variables.scss";

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  text-decoration: none;
}

body {
  background: rgb(2, 0, 36);
  /* For browsers that do not support gradients */
  background: linear-gradient(to right, #071113, #182B39);
  // color: white !important;
  min-height: 100vh;
}

.clientOverview {
  padding: 10px;
  flex-basis: calc(33% - 15px);
  padding: 1px;
  position: relative;
  padding: 1px;
  padding: 1rem;
  color: white;
  border-width: 1px;
  border-style: solid;
  border-image:
    linear-gradient(to bottom,
      #16859c,
      #14803d) 1 3%;
}


.main {
  padding: 0 50px;
}

div:first-child {

  form {
    label {
      color: white !important;
    }

    input {
      color: white !important;
    }
  }

  li {
    p {
      &:hover {
        color: gray;
      }
    }
  }
}

.right-arrow {
  svg {
    font-size: 17px;
  }

  path {
    color: gray;
  }
}

.graphic {
  width: 100%;

  .recharts-wrapper {
    width: 100% !important;

    svg {
      width: 100% !important;
    }
  }


}

.recharts-cartesian-grid {


  .recharts-cartesian-grid-horizontal {

    line:last-child {
      display: none;
    }

    line:nth-of-type(6) {
      display: none;
    }
  }

  .recharts-cartesian-grid-vertical {
    line {
      display: none;
    }
  }
}

.recharts-yAxis {
  .recharts-cartesian-axis-line {
    display: none;
  }
}

.menuRight {

  div {
    &:nth-child(3) {
      margin-top: -5px;

      ul {
        background-color: rgb(246, 246, 246);

        li,
        p,
        span {
          color: black;
        }
      }
    }
  }
}

.userAccount {
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
}

button {

  color: gray;
  padding: 5px 30px;
  background-color: transparent;
  outline-color: none;
  border: 1px solid gray;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    color: white;
    border-color: white;
  }
}

.transactionsList {
  margin: 20px 0;
}