@import "./_variables.scss";

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--white);
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;

}

body {
  background: rgb(2, 0, 36);
  /* For browsers that do not support gradients */
  background: linear-gradient(to right, #071113, #182B39);
  color: white !important
}

.clientOverview {
  padding: 10px;
  flex-basis: calc(33% - 15px);
  padding: 1px;
  position: relative;
  background: linear-gradient(to right, #546d6d, #213438);
  padding: 1px;
}

.clientOverview-section {
  background: linear-gradient(to right, #071113, #132532);
  color: #7F8082;
  padding: 1rem;
  height: 100%;

}


.main {
  padding: 0 50px;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  background: linear-gradient(to right, #071113, #132532);

  li {
    p {
      &:hover {
        color: gray;
      }
    }
  }
}

.right-arrow {
  svg {
    font-size: 17px;
  }

  path {
    color: gray;
  }
}