.wallet {
  margin: 0 auto;
  width: 50%;

  @media(max-width: 1024px) {
    width: 100%;
  }

  @media(max-width: 998px) {
    padding: 15px;
  }

  h1 {
    text-align: center;
    margin-top: 50px;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 30px;

    @media(max-width: 998px) {
      margin-top: 25px;
    }
  }

  &__bottom {
    display: flex;
    margin-top: 60px;
    justify-content: space-around;

    @media(max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    &__left {

      &__header {
        display: flex;
        justify-content: space-between;
        width: 300px;

        @media(max-width: 768px) {
          width: 100%;
        }

        h3 {
          font-size: 18px;
        }

        span {
          svg {
            background-color: #868686;
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }

      &__card {
        height: 170px;
        width: 300px;
        border-radius: 20px;
        padding: 30px;
        margin-top: 20px;
        background-image: linear-gradient(to right, #3a4c5d, #52a068);

        @media(max-width: 768px) {
          height: 200px;
          width: 400px;
        }

        @media(max-width: 640px) {
          width: auto;
        }

        &__header {
          display: flex;
          justify-content: space-between;

          &__mastercard__icon {
            display: inline-block;
            height: 1em;
            isolation: isolate;
            position: relative;
            line-height: 1em;
            vertical-align: middle;
            width: 1.611em;

            &::before,
            &::after {
              border-radius: .5em;
              content: "";
              display: inline-block;
              height: 1em;
              position: absolute;
              width: 1em;
            }

            &::before {
              background-color: #eb001b;
              left: 0;
              top: 0;
            }

            &::after {
              background-color: #f79e1b;
              mix-blend-mode: hard-light;
              right: 0;
              top: 0;
            }
          }
        }

        &__content {
          font-size: 40px;
          margin: 20px 0;

          span {
            opacity: .6;
          }
        }

        &__bottom {
          display: flex;
          justify-content: space-between;

          p {
            font-size: 14px;
          }
        }
      }

      &__addNew {
        padding: 10px;
        border: 2px dotted white;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;

        h3 {
          font-size: 15px;
        }

        span {
          background-image: linear-gradient(to right, #3a4c5d, #52a068);
          border-radius: 3px;
          padding: 1px 5px;

          svg {
            width: 17px;
            height: 15px;
          }
        }
      }
    }

    &__right {
      display: block;
      max-width: 400px;
      width: 100%;

      @media(max-width: 768px) {
        max-width: 100%;
        margin-top: 40px;
      }

      &__list {
        display: flex;
        justify-content: space-between;

        span {

          svg {
            background-color: #868686;
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }

      &__title {
        font-weight: 400;
        margin-bottom: 30px;
      }

      &__transaction {
        display: flex;
        justify-content: space-between;

        &__name {
          margin-bottom: 20px;
          display: flex;
          align-items: center;

          div {
            width: 30px;
            height: 30px;
            background: white;
            border-radius: 5px;
            margin-right: 10px;
          }



          svg {
            margin-left: 4px;
            margin-top: 3px;

            path {
              color: #3cb765;
            }
          }
        }


      }
    }
  }
}

.balance {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  border: 2px solid #546d6d;
  border-radius: 40px;
  max-width: 850px;
  align-self: center;
  margin: 0 auto;
  margin-top: 70px;

  @media(max-width: 998px) {
    margin-top: 40px;
  }

  @media(max-width: 768px) {
    padding: 20px;
  }

  &__left {

    h2 {
      margin-top: 20px;
      color: white;
      padding: 50px 30px;
      border-radius: 50%;
      border: 10px solid #868686;
      box-shadow: 0 0 30px #3cb765;
    }
  }

  &__right {
    display: flex;
    align-items: center;

    &__box {

      margin-bottom: 30px;

      h3 {
        font-size: 15px;

        span {
          color: lightgrey;
        }
      }

      h2 {
        margin: 15px 0;
        font-size: 20px;
      }

      p {
        color: #00c700;
        padding: 5px 5px 5px 0;
        border: 1px solid #00c700;
        border-radius: 50px;

        span {
          padding: 4px;
          border: 1px solid #00c700;
          border-radius: 50%;
          padding-left: 6px;
          padding-right: 6px;
          margin-right: 15px;
        }

        svg {
          width: 15px;
          height: 15px;

          path {
            color: #00c700;
          }
        }
      }
    }


  }

}